* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sucesso {
  color: #0b700b;
  font-weight: 500;
  background-color: #8bea8b;
  border: 2px solid #0b700b;
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
}

.erro {
  color: #c61523;
  font-weight: 500;
  background-color: rgba(243, 138, 138, 0.665);
  border: 2px solid #f3081c;
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
}

.erro::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

.sucesso::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

input[name="txtEmail"]:invalid {
  border: 2px solid #f3081c;
  outline: none;
}

input[name="txtEmail"]:valid {
  border: 2px solid #1cd338;
  outline: none;
}
